{% extends "base.html" %}

{% block title %}
    Isha | Create a new profile page
{% endblock %}

{% block content %}


{% if user.is_authenticated %}

    <h2>Create Profile Page...</h2>
        <br/>
    <div class="mb-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">
                Create Profile
            </button>
        </form>
    </div>


{% else %}

You are not allowed here !!

{% endif %}
{% endblock %}